:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-height: 100vh; /* Ensure full viewport height */
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure full viewport height */
}

/* Add full-width styles for Navbar */
.navbar {
  width: 100%;
}

/* Add full-width styles for Home component */
.home {
  flex: 1; /* Fill remaining vertical space */
  display: flex;
  flex-direction: column;
}

/* Add styles for child elements of Home component */
.home > * {
  width: 100%; /* Ensure full width of child elements */
}

/* Add styles for specific elements as needed */
